
Lab7/\.vs/

Lab7/Binaries/

Lab7/Saved/

Lab7/Intermediate/AssetRegistryCache/

Lab7/Intermediate/Build/

Lab7/Intermediate/Config/

Lab7/Intermediate/ReimportCache/

Lab7/Intermediate/CachedAssetRegistry\.bin

Lab7/Lab7\.VC\.db
*.opendb
*.VC.opendb
*.VC.db
